vendor

*.zip
*.tar
*.rar
*.gz
*.7zip
.env
zoobc
*.log
.vscode
.idea
*.db
*.db-journal
cover.out
coverage.*
.DS_Store
resource/zoobc_*
resource/snapshots*
resource_cluster/zoobc_*
cmd/*.new
accounts.txt
.manual
release/
github.token