vendor

*.zip
*.tar
*.rar
*.gz
*.7zip
.env
zoobc
*.log
.vscode
.idea
*.db
*.db-journal
cover.out
coverage.*
.DS_Store
resource/zoobc_*
resource/snapshots*
resource_cluster/zoobc_*
resource/*.prof
resource/generated
cmd/*.new
accounts.txt
.editorconfig
.manual
release/
dist/
github.token
*.back
*.bak
dist/
local.preRegisteredNodes.json
core/service/testdata/snapshots/
_*

*.db-shm
*.db-wal
.run