version: 2
jobs:
  prepare:
    working_directory: /go/src/github.com/zoobc/zoobc-core
    docker:
      - image: circleci/golang:1.12.0
    environment:
      - DEP_VERSION: 0.5.1
    steps:
      - run:
          name: Switch to SSH
          command: git config --global url.ssh://git@github.com/zoobc.insteadOf https://github.com/zoobc
      - checkout
      - add_ssh_keys
      - run:
          name: Download golangci-lint
          command: go get -u github.com/golangci/golangci-lint/cmd/golangci-lint
      - restore_cache:
          key: gopkg-{{ .Branch }}-{{ checksum "Gopkg.lock" }}
          paths:
            - /go/src/github.com/zoobc/zoobc-core/vendor
      - run:
          name: Download Vendor
          command: |
            if [ ! -d /go/src/github.com/zoobc/zoobc-core/vendor ]; then
              curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o /go/bin/dep
              chmod +x /go/bin/dep
              /go/bin/dep ensure -v
            fi
      - save_cache:
          key: gopkg-{{ .Branch }}-{{ checksum "Gopkg.lock" }}
          paths:
            - /go/src/github.com/zoobc/zoobc-core/vendor
  test:
    working_directory: /go/src/github.com/zoobc/zoobc-core
    docker:
      - image: circleci/golang:1.12.0
    steps:
      - checkout
      - restore_cache:
          key: gopkg-{{ .Branch }}-{{ checksum "Gopkg.lock" }}
          paths:
            - /go/src/github.com/zoobc/zoobc-core/vendor
      - run:
          name: Test
          command: go test `go list ./... | egrep -v 'common/model|common/service'` --short
      - run:
          name: Go Fmt
          command: go fmt `go list ./... | egrep -v 'common/model|common/service|vendor'`
      - run:
          name: GoLint
          command: golangci run
  build:
    working_directory: /go/src/github.com/zoobc/zoobc-core
    docker:
      - image: circleci/golang:1.12.0
    steps:
      - restore_cache:
          key: gopkg-{{ .Branch }}-{{ checksum "Gopkg.lock" }}
          paths:
            - /go/src/github.com/zoobc/zoobc-core/vendor
      - restore_cache:
          key: build-cache-{{ .Branch }}-{{ .Environment.CIRCLE_PREVIOUS_BUILD_NUM }}
          paths:
            - ./bin
      - run:
          name: Build
          command: go build -o ./bin/zoobc
      - save_cache:
          key: build-cache-{{ .Branch }}-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ./bin
workflows:
  version: 2
  prepare-build:
    jobs:
      - prepare
      - test:
          requires:
            - prepare
      - build:
          requires:
            - prepare
            - test
            - build
          filters:
            branches:
              only: develop
