dbPath = "./resource/"
dbName = "zoobc.db"
badgerDbPath="./resource"
badgerDbName="zoobc_1_kv/"
configPath = "./resource/"
nodeKeyFile = "node_keys.json"
snapshotPath = "./resource/snapshots"

# Peer
peerPort=8001
myAddress="127.0.0.1"
#wellknownPeers=["127.0.0.1:8002"]

apiRPCPort=7000
# comment out or set to 0 to disable http proxy, only enable in dev mode
apiHTTPPort=3031
monitoringPort=9090
cpuProfilingPort=6060
apiReqTimeoutSec=2

ownerAccountAddress = "BCZEGOb3WNx3fDOVf9ZS4EjvOIv_UeW4TVBQJ_6tHKlE"

smithing=true
proofOfOwnershipReqTimeoutSec = 2
# Log Levels
# Available log level: info, warn, error, fatal, panic
logLevels=["warn", "info", "fatal", "error", "panic"]
