dbPath = "./resource/"
dbName = "zoobc.db"

# Peer
peerPort=8001
myAddress="127.0.0.1"
wellknownPeers=["127.0.0.1:8002"]

apiRPCPort=3001
apiHTTPPort=3031
nodeSecretPhrase = "concur vocalist rotten busload gap quote stinging undiluted surfer goofiness deviation starved"
ownerAccountType = 0
ownerAccountAddress = "BCZEGOb3WNx3fDOVf9ZS4EjvOIv_UeW4TVBQJ_6tHKlE"
