// Constants to generate/validate genesis block
package constant

const (
	MainchainGenesisBlockID int64 = {{.MainchainGenesisBlockID}}
)

type (
	MainchainGenesisConfigEntry struct {
		AccountAddress     string
		AccountBalance     int64
		NodePublicKey      []byte
		NodeAddress        string
		LockedBalance      int64
		ParticipationScore int64
	}
)

var (
	MainchainGenesisBlocksmithID   = []byte{1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1}
	MainchainGenesisBlockSignature = []byte{0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
		0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0}
	MainchainGenesisTransactionSignature = []byte{0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
		0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0}
	MainchainGenesisBlockTimestamp = int64(1562117271)
	MainchainGenesisAccountAddress = "BCZD_VxfO2S9aziIL3cn_cXW7uPDVPOrnXuP98GEAUC7"
	MainchainGenesisBlockSeed      = make([]byte, 64)
	MainchainGenesisNodePublicKey  = make([]byte, 32)
	MainChainGenesisConfig         = []MainchainGenesisConfigEntry{
{{range $key, $value := .MainchainGenesisConfig}}		{
			AccountAddress: "{{$value.AccountAddress}}",
			AccountBalance: {{$value.AccountBalance}},{{if $value.HasNodePublicKey}}
			NodePublicKey:  {{$value.FormatPubKeyByteString}},
			NodeAddress:    {{if $value.HasNodeAddress}}"{{$value.NodeAddress}}"{{else}}"127.0.0.1"{{end}},
			LockedBalance:  {{$value.LockedBalance}},
			ParticipationScore: {{if $value.HasParticipationScore}}{{$value.ParticipationScore}}{{else}} DefaultParticipationScore{{end}},{{end}}
		},
{{end}}
	}
)
