[
  {
    "AccountAddress": "ZBC_4WN2TZMB_J2AVKGI5_DNUM7AJ5_7PBKFWPT_ORJ4BUY4_EM5FWFXP_QBUM6D6Z"
  },
  {
    "AccountAddress": "ZBC_XDWDR6YZ_7XMB7MXA_5ZGYTBDL_ZZKEA7OE_TGFXJXQB_IHJY42PG_CYC4OED7"
  },
  {
    "AccountAddress": "ZBC_6RTZQVVU_SLT6AKNX_SCWQTCEZ_6EKW2HU2_YQ3IIX3U_BCKTW3LX_HRRQ3CZE"
  },
  {
    "AccountAddress": "ZBC_LU4QSNY3_G6VC3G4N_YB2IYKJA_UNSJMTAI_TWBGOQW7_ZTT6DW5A_BIZAE42I"
  },
  {
    "AccountAddress": "ZBC_XDGAN652_ZLS4LN7Y_NNBU2KDH_LM2KDD2E_NGUIKTEP_E72CHSHT_ISLOSO5A"
  }
]
